* {
    margin: 10px;
    padding: 0px;
    
}

button {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    width: 50vw;
    margin: auto;
    background-color: black;
    color: greenyellow;
    font-size: 50px;
}

h2 {
    font-size: 60px;
    font-style: italic;
    display: flex;
    justify-content: center;
    color:hotpink;
}